* {
    margin: 0;
    padding: 0;
    font-family: roboto;
    display: block;
}

html {
     background-color: #1e1f26;
}

title {
    display: none;
}



/*--- Fonts ---*/

@font-face {
    font-family: 'beon';
    src: url(./fonts/beon.ttf);
}

@font-face {
    font-family: 'monoton';
    src: url(./fonts/monoton.ttf);
}

@font-face {
    font-family: 'audiowide';
    src: url(./fonts/audiowide.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(./fonts/roboto.ttf);
}

/*--- Fonts ---*/


/*----- Banner -----*/

#banner {
    width: 100%;
}

#banner a {
     text-decoration: none;
}

#logo {
    float: left;
    padding: 2% 0% 1% 5%;
    color: #fff;
    width: 15%;
}

#logo img {
    width: 100%;
}

#logo_txt {
    width: 100%;
    color: white;
    font-size: 30px;
    background-color: #1e1f26;
    padding: 7% 5% 5% 25%;
}

#web_sys {
    float: left;
    margin-right: 2%;
}

#web_sys h1{
    font-size: 80px;
    font-weight: 100;
    font-family: monoton;
}

#and_tech {
    float: left;
}

#and_tech h1{
    font-family: beon;
    font-weight: 100;
    margin-top: 5%;
}

/*----- Banner -----*/



/*----- Navigation Bar -----*/

#main_nav ul {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #283655;
}

#main_nav li {
    float: right;
}

#main_nav li a {
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

#main_nav li a:hover {
    background-color: #4d648d;
}

#main_nav li:nth-child(1) {
    margin-right: 5%;
}

/*----- Navigation Bar -----*/



/*----- Contents -----*/

#main_content_container {
    clear: both;
    background-color: #ffffff;
    width: 100%;
}

/* Home */

#introduction {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #4d648d;
    color: white;
    text-align: justify;
}

#introduction p {
    font-size: 20px;
    padding: 5%;
    line-height: 150%;
}

#introduction h1 {
    padding: 3%;
    font-size: 50px;
}

.blank {
    clear: both;
    height: 1px;
}

#intro_goal {
    float: left;
    width: 37.8%;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

#intro_who {
    float: left;
    width: 37.8%;
    padding: 1%;
    margin-right: 5%;
    padding-left: 5%;
    border-left: 1px solid white;
}

.left_arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 50px 40px 0;
    border-color: transparent #ffffff transparent transparent;
    float: right;
    margin-top: 200px;
}

.rigt_arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 40px 50px;
    border-color: transparent transparent transparent #ffffff;
    float: left;
    margin-top: 200px;
}

#www_pic {
    float: left;
    width: 50%;
    height: 500px;
    background-image: url(imgs/www_bg.png);
    background-position: right;
    background-repeat: no-repeat;
}

#www_rm {
    float: left;
    width: 50%;
    height: 500px;
}

#http_rm {
    float: left;
    width: 50%;
    height: 500px;
}

#http_pic {
    float: left;
    width: 50%;
    height: 500px;
    background-image: url(imgs/http_bg.png);
    background-position: left;
    background-repeat: no-repeat;
}

#html_pic {
    float: left;
    width: 50%;
    height: 500px;
    background-image: url(imgs/html_bg.png);
    background-position: right;
    background-repeat: no-repeat;
}

#html_rm {
    float: left;
    width: 50%;
    height: 500px;
}

.logo_left img {
    width: 250px;
}

.logo_left {
    float: right;
    margin: 80px 100px 0 0;
    text-align: center;
}

.logo_left p {
    color: white;
    font-size: 80px;
    letter-spacing: 8px;
}

.logo_right img {
    width: 250px;
}

.logo_right {
    float: left;
    margin: 80px 0 0 100px;
    text-align: center;
}

.logo_right p {
    color: white;
    font-size: 80px;
    letter-spacing: 8px;
}

.description_right {
    float: left;
    width: 80%;
    margin: 80px 0 0 90px;
}

.description_right p:nth-child(1) {
    font-size: 45px;
}

.description_left {
    float: right;
    width: 80%;
    margin: 80px 90px 0 0;
}

.description_left p:nth-child(1) {
    font-size: 45px;
}

/* Home */

#space_bot {
    clear: both;
    height: 5vh;
    width: 100%;
}

/*----- Contents -----*/



/*----- Footer -----*/

footer {
    clear: both;
    width: 100%;
    background-color: #1e1f26;
    color: white;
}

#footer_text {
    text-align: center;
    padding: 2%;
    font-family: beon;
}

/*----- Footer -----*/



/*----- JQuery -----*/

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

/*----- JQuery -----*/



/*----- Media Queries -----*/

@media (max-width: 1440px){
    
    #logo_txt {
        font-size: 25px;
        padding: 6% 5% 5% 22%;
    }
    
    #web_sys h1{
        font-size: 60px;
    }
    
    #introduction p {
        font-size: 15px;
        padding: 2.5%;
    }
    
    #introduction h1 {
        font-size: 40px;
        padding: 1.5%;
    }
    
    .logo_left img {
        width: 200px;
    }

    .logo_left {
        float: right;
        margin: 100px 100px 0 0;
        text-align: center;
    }

    .logo_left p {
        color: white;
        font-size: 60px;
        letter-spacing: 8px;
    }

    .logo_right img {
        width: 200px;
    }

    .logo_right {
        float: left;
        margin: 100px 0 0 100px;
        text-align: center;
    }

    .logo_right p {
        color: white;
        font-size: 60px;
        letter-spacing: 8px;
    }
    
}

@media (max-width: 1024px){
    
    #logo_txt {
        font-size: 18px;
    }
    
    #web_sys h1{
        font-size: 45px;
    }
    
    #introduction p {
        font-size: 10px;
    }
    
    #introduction h1 {
        font-size: 30px;
    }
    
    .description_right p:nth-child(1) {
        font-size: 20px;
    }
    
    .description_left p:nth-child(1) {
        font-size: 20px;
    }
    
}

/*----- Media Queries-----*/

