* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: block;
}

html {
     background-color: #1e1f26;
}

title {
    display: none;
}



/*--- Fonts ---*/

@font-face {
    font-family: 'beon';
    src: url(./fonts/beon.ttf);
}

@font-face {
    font-family: 'monoton';
    src: url(./fonts/monoton.ttf);
}

@font-face {
    font-family: 'audiowide';
    src: url(./fonts/audiowide.ttf);
}

/*--- Fonts ---*/


/*----- Banner -----*/

#banner {
    width: 100%;
}

#banner a {
     text-decoration: none;
}

#logo {
    float: left;
    padding: 2% 0% 1% 5%;
    color: #fff;
}

#logo img {
    width: 200px;
}

#logo_txt {
    color: white;
    font-size: 20px;
    background-color: #1e1f26;
    padding: 5% 5% 5% 25%;
}

#web_sys {
    float: left;
    margin-right: 2%;
}

#web_sys h1{
    font-size: 50px;
    font-weight: 100;
    font-family: monoton;
}

#and_tech {
    float: left;
}

#and_tech h1{
    font-family: beon;
    font-weight: 100;
    margin-top: 5%;
}

/*----- Banner -----*/



/*----- Navigation Bar -----*/

#main_nav ul {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #283655;
}

#main_nav li {
    float: right;
}

#main_nav li a {
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

#main_nav li a:hover {
    background-color: #4d648d;
}

#main_nav li:nth-child(1) {
    margin-right: 5%;
}

/*----- Navigation Bar -----*/



/*----- Contents -----*/

#main_content_container {
    clear: both;
    background-color: #ffffff;
    width: 100%;
}

/* Home */

hr {
    color: white;
}

#introduction {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #4d648d;
    color: white;
}

#introduction p {
    padding: 5%;
    line-height: 150%;
}

#introduction h1 {
    padding: 3%;
}

.blank {
    clear: both;
    height: 1px;
}

#intro_goal {
    float: left;
    width: 32.8%;
    padding: 1%;
    margin-left: 15%;
}

#intro_who {
    float: left;
    width: 32.8%;
    padding: 1%;
    margin-right: 15%;
    border-left: 1px solid white;
}

.left_arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 50px 40px 0;
    border-color: transparent #ffffff transparent transparent;
    float: right;
    margin-top: 200px;
}

.rigt_arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 40px 50px;
    border-color: transparent transparent transparent #ffffff;
    float: left;
    margin-top: 200px;
}

#www_pic {
    float: left;
    width: 50%;
    height: 500px;
    background-image: url(imgs/www_bg.png);
    background-position: right;
    background-repeat: no-repeat;
}

#www_rm {
    float: left;
    width: 50%;
    height: 500px;
}

#http_rm {
    float: left;
    width: 50%;
    height: 500px;
}

#http_pic {
    float: left;
    width: 50%;
    height: 500px;
    background-image: url(imgs/http_bg.png);
    background-position: left;
    background-repeat: no-repeat;
}

#html_pic {
    float: left;
    width: 50%;
    height: 500px;
    background-image: url(imgs/html_bg.png);
    background-position: right;
    background-repeat: no-repeat;
}

#html_rm {
    float: left;
    width: 50%;
    height: 500px;
    margin-top: 4%;;
}

.logo_left img {
    width: 250px;
}

.logo_left {
    float: right;
    margin: 55px 200px 0 0;
    text-align: center;
}

.logo_left p {
    color: white;
    font-size: 80px;
    letter-spacing: 8px;
}

.logo_right img {
    width: 250px;
}

.logo_right {
    float: left;
    margin: 55px 0 0 200px;
    text-align: center;
}

.logo_right p {
    color: white;
    font-size: 80px;
    letter-spacing: 8px;
}

.description_right {
    width: 80%;
    margin: 80px 0 0 90px;
}

.description_right p:nth-child(1) {
    font-size: 45px;
}

.description_left {
    width: 80%;
    margin: 80px 0 0 90px;
}

.description_left p:nth-child(1) {
    font-size: 45px;
}

/* Home */

#space_bot {
    clear: both;
    height: 5vh;
    width: 100%;
}

/*----- Contents -----*/



/*----- Footer -----*/

footer {
    clear: both;
    width: 100%;
    background-color: #1e1f26;
    color: white;
}

#footer_text {
    text-align: center;
    padding: 2%;
}

/*----- Footer -----*/

/*----- JQuery -----*/

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

/*----- JQuery -----*/

